@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./avenirnextcyr-bold.eot');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./avenirnextcyr-regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('./avenirnextcyr-medium.ttf');
    font-weight: 500;
    font-style: normal;
}